<!DOCTYPE html>
<html>
<head>
    <title>{{ i18n('appName') }}</title>
    {{ css('semantic-ui') }}
    {{ css('css/test.css') }}
</head>
<body>
<div class="ui container">
    <div class="ui segment">
        <h1>{{ i18n('appName') }}</h1>
        <p>Hello {{ user }}.</p>
    </div>
    <div class="ui segment">
            <form class="ui form">
                {{ csrf() }}
                <input class="ui button" type="submit">
            </form>
    </div>
</div>
{{ js('jquery', 'semantic-ui') }}
</body>
</html>