<!DOCTYPE html>
<html>
<head>
    <title>{{ i18n('appName') }}</title>
    {{ css('semantic-ui') }}
    {{ css('css/test.css') }}
</head>
<body>
<div class="ui container">
    <h1>{{ i18n('appName') }}</h1>
    <p>Hello {{ user }}.</p>
</div>
{{ js('jquery', 'semantic-ui') }}
</body>
</html>